projet4-client/projet4-webapp/src/main/resources/wsdl/UserService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://manager.contract.business.library.oc.library.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="UserService" targetNamespace="http://manager.contract.business.library.oc.library.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://manager.contract.business.library.oc.library.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://manager.contract.business.library.oc.library.com/">
  <xs:element name="getEmailUser" type="tns:getEmailUser"/>
  <xs:element name="getEmailUserResponse" type="tns:getEmailUserResponse"/>
  <xs:element name="getListUser" type="tns:getListUser"/>
  <xs:element name="getListUserResponse" type="tns:getListUserResponse"/>
  <xs:element name="getNbUser" type="tns:getNbUser"/>
  <xs:element name="getNbUserResponse" type="tns:getNbUserResponse"/>
  <xs:element name="getUser" type="tns:getUser"/>
  <xs:element name="getUserResponse" type="tns:getUserResponse"/>
  <xs:element name="hashPassword" type="tns:hashPassword"/>
  <xs:element name="hashPasswordResponse" type="tns:hashPasswordResponse"/>
  <xs:element name="validateLogin" type="tns:validateLogin"/>
  <xs:element name="validateLoginResponse" type="tns:validateLoginResponse"/>
  <xs:complexType name="getListUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:anyType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getListUserResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="user">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="lastname" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element minOccurs="0" name="surname" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEmailUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEmailUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:user"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hashPassword">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hashPasswordResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getNbUser">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getNbUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="validateLogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:user"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="validateLoginResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotFoundException" type="tns:NotFoundException"/>
  <xs:complexType name="NotFoundException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getEmailUser">
    <wsdl:part element="tns:getEmailUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getEmailUserResponse">
    <wsdl:part element="tns:getEmailUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserResponse">
    <wsdl:part element="tns:getUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUser">
    <wsdl:part element="tns:getUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hashPasswordResponse">
    <wsdl:part element="tns:hashPasswordResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="hashPassword">
    <wsdl:part element="tns:hashPassword" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NotFoundException">
    <wsdl:part element="tns:NotFoundException" name="NotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateLoginResponse">
    <wsdl:part element="tns:validateLoginResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNbUser">
    <wsdl:part element="tns:getNbUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getListUser">
    <wsdl:part element="tns:getListUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getListUserResponse">
    <wsdl:part element="tns:getListUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNbUserResponse">
    <wsdl:part element="tns:getNbUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateLogin">
    <wsdl:part element="tns:validateLogin" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UserService">
    <wsdl:operation name="getListUser">
      <wsdl:input message="tns:getListUser" name="getListUser">
    </wsdl:input>
      <wsdl:output message="tns:getListUserResponse" name="getListUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmailUser">
      <wsdl:input message="tns:getEmailUser" name="getEmailUser">
    </wsdl:input>
      <wsdl:output message="tns:getEmailUserResponse" name="getEmailUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <wsdl:input message="tns:getUser" name="getUser">
    </wsdl:input>
      <wsdl:output message="tns:getUserResponse" name="getUserResponse">
    </wsdl:output>
      <wsdl:fault message="tns:NotFoundException" name="NotFoundException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hashPassword">
      <wsdl:input message="tns:hashPassword" name="hashPassword">
    </wsdl:input>
      <wsdl:output message="tns:hashPasswordResponse" name="hashPasswordResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNbUser">
      <wsdl:input message="tns:getNbUser" name="getNbUser">
    </wsdl:input>
      <wsdl:output message="tns:getNbUserResponse" name="getNbUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateLogin">
      <wsdl:input message="tns:validateLogin" name="validateLogin">
    </wsdl:input>
      <wsdl:output message="tns:validateLoginResponse" name="validateLoginResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserServiceSoapBinding" type="tns:UserService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getListUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getListUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getListUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmailUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getEmailUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getEmailUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="NotFoundException">
        <soap:fault name="NotFoundException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="hashPassword">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="hashPassword">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="hashPasswordResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNbUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getNbUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getNbUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateLogin">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="validateLogin">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateLoginResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port binding="tns:UserServiceSoapBinding" name="UserServicePort">
      <soap:address location="http://localhost:8080/services/UserService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>