WSDL/BookService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://manager.contract.business.library.oc.library.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="BookService" targetNamespace="http://manager.contract.business.library.oc.library.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://manager.contract.business.library.oc.library.com/" elementFormDefault="unqualified" targetNamespace="http://manager.contract.business.library.oc.library.com/" version="1.0">

  <xs:element name="borrowBook" type="tns:borrowBook"/>

  <xs:element name="borrowBookResponse" type="tns:borrowBookResponse"/>

  <xs:element name="buildBookBorrowedDependencies" type="tns:buildBookBorrowedDependencies"/>

  <xs:element name="buildBookBorrowedDependenciesResponse" type="tns:buildBookBorrowedDependenciesResponse"/>

  <xs:element name="buildBookDependencies" type="tns:buildBookDependencies"/>

  <xs:element name="buildBookDependenciesResponse" type="tns:buildBookDependenciesResponse"/>

  <xs:element name="displayAllBooks" type="tns:displayAllBooks"/>

  <xs:element name="displayAllBooksResponse" type="tns:displayAllBooksResponse"/>

  <xs:element name="extendBorrow" type="tns:extendBorrow"/>

  <xs:element name="extendBorrowResponse" type="tns:extendBorrowResponse"/>

  <xs:element name="getBook" type="tns:getBook"/>

  <xs:element name="getBookResponse" type="tns:getBookResponse"/>

  <xs:element name="getListBookBorrowedByUser" type="tns:getListBookBorrowedByUser"/>

  <xs:element name="getListBookBorrowedByUserResponse" type="tns:getListBookBorrowedByUserResponse"/>

  <xs:element name="getNbOfCopiesAvailableForABook" type="tns:getNbOfCopiesAvailableForABook"/>

  <xs:element name="getNbOfCopiesAvailableForABookBorrowed" type="tns:getNbOfCopiesAvailableForABookBorrowed"/>

  <xs:element name="getNbOfCopiesAvailableForABookBorrowedResponse" type="tns:getNbOfCopiesAvailableForABookBorrowedResponse"/>

  <xs:element name="getNbOfCopiesAvailableForABookResponse" type="tns:getNbOfCopiesAvailableForABookResponse"/>

  <xs:complexType name="borrowBook">
    <xs:sequence>
      <xs:element minOccurs="0" name="user" type="tns:user"/>
      <xs:element minOccurs="0" name="book" type="tns:book"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="user">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="lastname" type="xs:string"/>
      <xs:element minOccurs="0" name="password" type="xs:string"/>
      <xs:element minOccurs="0" name="surname" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="book">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="authors" nillable="true" type="tns:author"/>
      <xs:element minOccurs="0" name="editorName" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="isbn" type="xs:string"/>
      <xs:element minOccurs="0" name="nbOfCopiesAlreadyBorrowed" type="xs:int"/>
      <xs:element minOccurs="0" name="nbOfCopiesAvailable" type="xs:int"/>
      <xs:element minOccurs="0" name="numberOfCopies" type="xs:int"/>
      <xs:element minOccurs="0" name="resume" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="themes" nillable="true" type="tns:theme"/>
      <xs:element minOccurs="0" name="title" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="author">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="theme">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="borrowBookResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getBook">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getBookResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:book"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="displayAllBooks">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="displayAllBooksResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:book"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getNbOfCopiesAvailableForABookBorrowed">
    <xs:sequence>
      <xs:element minOccurs="0" name="bookBorrowed" type="tns:bookBorrowed"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bookBorrowed">
    <xs:sequence>
      <xs:element name="alreadyExtended" type="xs:boolean"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="authors" nillable="true" type="tns:author"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="books" nillable="true" type="tns:bookBorrowed"/>
      <xs:element minOccurs="0" name="dateEnd" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="dateStart" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="editorId" type="xs:int"/>
      <xs:element minOccurs="0" name="editorName" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="idBook" type="xs:int"/>
      <xs:element minOccurs="0" name="idBorrow" type="xs:int"/>
      <xs:element minOccurs="0" name="idBorrower" type="xs:int"/>
      <xs:element minOccurs="0" name="isbn" type="xs:string"/>
      <xs:element minOccurs="0" name="nbOfCopiesAlreadyBorrowed" type="xs:int"/>
      <xs:element minOccurs="0" name="nbOfCopiesAvailable" type="xs:int"/>
      <xs:element minOccurs="0" name="numberOfCopies" type="xs:int"/>
      <xs:element minOccurs="0" name="resume" type="xs:string"/>
      <xs:element name="returned" type="xs:boolean"/>
      <xs:element name="returnedOnTime" type="xs:boolean"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="themes" nillable="true" type="tns:theme"/>
      <xs:element minOccurs="0" name="title" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getNbOfCopiesAvailableForABookBorrowedResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="buildBookBorrowedDependencies">
    <xs:sequence>
      <xs:element minOccurs="0" name="borrowedBook" type="tns:bookBorrowed"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="buildBookBorrowedDependenciesResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getListBookBorrowedByUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getListBookBorrowedByUserResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:bookBorrowed"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getNbOfCopiesAvailableForABook">
    <xs:sequence>
      <xs:element minOccurs="0" name="book" type="tns:book"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getNbOfCopiesAvailableForABookResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="buildBookDependencies">
    <xs:sequence>
      <xs:element minOccurs="0" name="book" type="tns:book"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="buildBookDependenciesResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="extendBorrow">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="extendBorrowResponse">
    <xs:sequence/>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getBookResponse">
    <wsdl:part element="tns:getBookResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBook">
    <wsdl:part element="tns:getBook" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNbOfCopiesAvailableForABookBorrowed">
    <wsdl:part element="tns:getNbOfCopiesAvailableForABookBorrowed" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="buildBookBorrowedDependencies">
    <wsdl:part element="tns:buildBookBorrowedDependencies" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="buildBookBorrowedDependenciesResponse">
    <wsdl:part element="tns:buildBookBorrowedDependenciesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="buildBookDependenciesResponse">
    <wsdl:part element="tns:buildBookDependenciesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNbOfCopiesAvailableForABook">
    <wsdl:part element="tns:getNbOfCopiesAvailableForABook" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="borrowBookResponse">
    <wsdl:part element="tns:borrowBookResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNbOfCopiesAvailableForABookBorrowedResponse">
    <wsdl:part element="tns:getNbOfCopiesAvailableForABookBorrowedResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="buildBookDependencies">
    <wsdl:part element="tns:buildBookDependencies" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNbOfCopiesAvailableForABookResponse">
    <wsdl:part element="tns:getNbOfCopiesAvailableForABookResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="borrowBook">
    <wsdl:part element="tns:borrowBook" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="displayAllBooks">
    <wsdl:part element="tns:displayAllBooks" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="extendBorrowResponse">
    <wsdl:part element="tns:extendBorrowResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getListBookBorrowedByUser">
    <wsdl:part element="tns:getListBookBorrowedByUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="displayAllBooksResponse">
    <wsdl:part element="tns:displayAllBooksResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="extendBorrow">
    <wsdl:part element="tns:extendBorrow" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getListBookBorrowedByUserResponse">
    <wsdl:part element="tns:getListBookBorrowedByUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BookClient">
    <wsdl:operation name="borrowBook">
      <wsdl:input message="tns:borrowBook" name="borrowBook">
    </wsdl:input>
      <wsdl:output message="tns:borrowBookResponse" name="borrowBookResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBook">
      <wsdl:input message="tns:getBook" name="getBook">
    </wsdl:input>
      <wsdl:output message="tns:getBookResponse" name="getBookResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="displayAllBooks">
      <wsdl:input message="tns:displayAllBooks" name="displayAllBooks">
    </wsdl:input>
      <wsdl:output message="tns:displayAllBooksResponse" name="displayAllBooksResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNbOfCopiesAvailableForABookBorrowed">
      <wsdl:input message="tns:getNbOfCopiesAvailableForABookBorrowed" name="getNbOfCopiesAvailableForABookBorrowed">
    </wsdl:input>
      <wsdl:output message="tns:getNbOfCopiesAvailableForABookBorrowedResponse" name="getNbOfCopiesAvailableForABookBorrowedResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buildBookBorrowedDependencies">
      <wsdl:input message="tns:buildBookBorrowedDependencies" name="buildBookBorrowedDependencies">
    </wsdl:input>
      <wsdl:output message="tns:buildBookBorrowedDependenciesResponse" name="buildBookBorrowedDependenciesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListBookBorrowedByUser">
      <wsdl:input message="tns:getListBookBorrowedByUser" name="getListBookBorrowedByUser">
    </wsdl:input>
      <wsdl:output message="tns:getListBookBorrowedByUserResponse" name="getListBookBorrowedByUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNbOfCopiesAvailableForABook">
      <wsdl:input message="tns:getNbOfCopiesAvailableForABook" name="getNbOfCopiesAvailableForABook">
    </wsdl:input>
      <wsdl:output message="tns:getNbOfCopiesAvailableForABookResponse" name="getNbOfCopiesAvailableForABookResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buildBookDependencies">
      <wsdl:input message="tns:buildBookDependencies" name="buildBookDependencies">
    </wsdl:input>
      <wsdl:output message="tns:buildBookDependenciesResponse" name="buildBookDependenciesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="extendBorrow">
      <wsdl:input message="tns:extendBorrow" name="extendBorrow">
    </wsdl:input>
      <wsdl:output message="tns:extendBorrowResponse" name="extendBorrowResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BookServiceSoapBinding" type="tns:BookClient">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="borrowBook">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="borrowBook">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="borrowBookResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBook">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBook">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBookResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="displayAllBooks">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="displayAllBooks">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="displayAllBooksResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNbOfCopiesAvailableForABookBorrowed">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getNbOfCopiesAvailableForABookBorrowed">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getNbOfCopiesAvailableForABookBorrowedResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buildBookBorrowedDependencies">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="buildBookBorrowedDependencies">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="buildBookBorrowedDependenciesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListBookBorrowedByUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getListBookBorrowedByUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getListBookBorrowedByUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNbOfCopiesAvailableForABook">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getNbOfCopiesAvailableForABook">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getNbOfCopiesAvailableForABookResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buildBookDependencies">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="buildBookDependencies">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="buildBookDependenciesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="extendBorrow">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="extendBorrow">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="extendBorrowResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookService">
    <wsdl:port binding="tns:BookServiceSoapBinding" name="BookPort">
      <soap:address location="http://localhost:8080/services/BookService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>